<div class="subject">Hi {{name}}, and welcome to Sportify</div>
<div class="message">
    Welcome to Sportify App, where sports and convenience meet! We're thrilled to have you on board.

    Get ready to manage your activities, track results, and enjoy exclusive features tailored for athletes like you.
    
    If you have any questions, feel free to reach out.

    Let's get started: 
</div>
<div class="buttons">
    <a href="https://auth.sportifyapp.co/login" class="button">Sportify App</a>
</div>