<div class="subject">Hi, and welcome to Sportify</div>
<div class="message">
    One more step and you are part of us,<br><br>
    you have been invited to register at {{association_name}} by {{user}} to be part of sportify. 
    Take advantage now and click the link below to porceed with registration. 
    Be careful this link is absolutely bound to you this means you will not be able to register with any other email. 
    We wish you good sports improvement.
    <br>
    REMEMBER THAT THE REGISTRATION LINK IS VALID ONLY FOR 7 DAYS FROM NOW
</div>
<div class="buttons">
    <a href="https://auth.sportifyapp.co/register?registration_key={{token}}" class="button">Create your personal account now</a>
</div>